@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/JaguarModernWeb-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont2";
  src: url("/fonts/ProximaNova-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont3";
  src: url("/fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont4";
  src: url("/fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont5";
  src: url("/fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
